<div class="container-fluid bg-light">
  <div class="container bg-light">
  <div class="row py-4" style="height: 100vh;">
    <div class="col-md-3">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-md-6">
      <app-welcome-page></app-welcome-page>
      <app-posts-wrapper></app-posts-wrapper>
      <app-post-description></app-post-description>
      <!-- <app-company-posts-wrapper [displayCompany]="displayCompany"></app-company-posts-wrapper> -->
    </div>
    <div class="col-md-3">
      <app-company-info></app-company-info>
      <!-- <app-company-details></app-company-details> -->
    </div>
  </div>
</div>
</div>



